.page {
  min-inline-size: 320px;
  max-inline-size: 650px;
  min-block-size: 100vh;
  max-block-size: 100vh;
  font-family: var(--font, sans-serif);
  color: var(--font-color, #f1b2ce);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  background-color: var(--background-color, #000028);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  min-inline-size: 100%;
  max-inline-size: 100%;
  min-block-size: 100vh;
  max-block-size: 100vh;
  padding: 2.5%;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  gap: 55px;
}

.decorative-text {
  position: absolute;
  z-index: 1;
  display: block;
  max-inline-size: 52px;
  max-block-size: 26px;
  color: var(--decorative-text-color, #ff0070);
  font-size: inherit;
  font-weight: inherit;
  line-height: 25px;
  text-align: start;
  inset-inline-end: 5%;
  inset-block-start: 1.5%;
}

.decorative-text::after {
  content: '';
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  margin-inline-start: 10px;
  margin-block-end: 1.5px;
  background-color: var(--decorative-text-color, #ff0070);
  border-radius: 4.5px;
  box-shadow: 0 0 4px 2px var(--decorative-text-color, #ff0070);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  z-index: 1;
  display: inline-block;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--decorations-color, #ff0070);
  border-inline-end: 1px solid var(--decorations-color, #ff0070);
  inset-inline-end: 2.5%;
  inset-block-start: 1.5%;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  z-index: 1;
  display: inline-block;
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--decorations-color, #ff0070);
  border-inline-start: 1px solid var(--decorations-color, #ff0070);
  inset-inline-start: 2.5%;
  inset-block-end: 1.5%;
}

.header__theme-menu {
  margin-block-start: 18.5%;
  margin-block-end: 10px;
}

.header__theme-menu-list {
  justify-content: flex-end;
  display: grid;
  grid-template-columns: 70px;
  grid-template-rows: repeat(3, 26px);
  row-gap: 10px;
}

.header__theme-menu-item {
  max-inline-size: 70px;
  max-block-size: 26px;
}

.header__theme-menu-button {
  padding: 1.5px 13px;
  min-block-size: 100%;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  text-transform: lowercase;
  color: var(--button-color, #ff0070);
  font-size: inherit;
  font-weight: inherit;
  line-height: 18px;
  background-color: inherit;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-color, #ff0070, 0.4);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid currentColor;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--button-color, #ff0070);
}

.header__main-title {
  min-inline-size: 100%;
  max-inline-size: 100%;
  max-block-size: 192px;
  display: inline-block;
  color: var(--font-color-heading, #db00ff);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 95.7px;
  text-shadow: 4px 4px 0 var(--shadow-color, #ff0070);
}

.header__title {
  display: block;
  max-block-size: 117px;
  max-inline-size: 491px;
  align-self: end;
}

.title-decor {
  color: var(--font-color-title, #000028);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  background-color: var(--bg-color-title, #ff0070);
}

.title-decor__font-normal {
  font-weight: 400;
}

.content {
  margin-block: 40px;
  padding-inline: 10px;
  min-inline-size: 100%;
  max-inline-size: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.content__section {
  min-inline-size: 100%;
  max-inline-size: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content__section-title {
  display: inline-block;
  max-inline-size: 100%;
  color: var(--font-section-title, #ff0070);
  font-size: inherit;
  font-weight: 700;
  line-height: inherit;
}

.content__section-list {
  max-inline-size: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content__section-list-item {
  max-inline-size: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content__section-list-item_title {
  max-inline-size: 100%;
  display: inline-block;
}

.content__section-list-item_text {
  max-inline-size: 100%;
  display: inline-block;
  line-height: 23.38px;
}

.content__section_gallery {
  max-inline-size: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery_title {
  max-inline-size: 100%;
  max-block-size: 23px;
  display: inline-block;
}

.content__section_gallery-images {
  max-inline-size: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery_item {
  max-inline-size: 100%;
}

.gallery_item-image {
  block-size: 100%;
  inline-size: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.link-decor {
  display: inline-block;
  margin-inline-end: -0.7rem;
  border-block-end: 1px solid transparent;
  text-decoration: none;
  text-shadow: 1.5px 1.5px 0 var(--link-shadow-color, #ff0070);
}

.link-decor:hover {
  border-block-end: 1px solid currentColor;
}

.link-decor:focus {
  outline: none;
}

.link-decor:focus-visible {
  padding: 1px;
  border: 1px solid var(--font-color, #f1b2ce);
}

.footer {
  min-block-size: 100vh;
  max-block-size: 100vh;
  padding: 2.5%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__title {
  color: var(--font-color-heading, #db00ff);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 95.7px;
  text-shadow: 2px 2px 0 var(--shadow-color, #ff0070);
}

@media (width <= 355px) {

  .header__main-title{
    font-size: clamp(3.125rem, -10.2083rem + 66.6667vw, 4.375rem);
  }

  .footer__title {
    font-size: clamp(3.125rem, -10.2083rem + 66.6667vw, 4.375rem);
  }
}

@media (height <= 650px) {


  .header {
    gap: 3%;
  }

  .header__theme-menu {
    margin-block-start: 6%;
    margin-block-end: 0;
  }

  .header__theme-menu-button {
    font-size: 12px;
  }

  .header__main-title{
    font-size: clamp(3.125rem, -10.2083rem + 66.6667vw, 4.375rem);
  }

  .header__title .title-decor {
    font-size: 12px;
    line-height: 1rem;
  }

  .footer__title {
    font-size: clamp(3.125rem, -10.2083rem + 66.6667vw, 4.375rem);
  }
}

@media (width > 650px) {

  .page {
    max-inline-size: 1024px;
  }

  .header {
    padding-inline: 0 20px;
    padding-block: 20px;
    gap: 162px;
  }

  .decorative-text {
    inset-inline-end: 3.9%;
    inset-block-start: 1.95%;
  }
  
  .decorated-zone::before {
    inset-inline-end: 2.55%;
    inset-block-start: 1.95%;
  }
  
  .decorated-zone::after {
    inset-inline-start: 2.55%;
    inset-block-end: 1.95%;
  }

  .header__theme-menu {
    margin-block-start: 23%;
    margin-block-end: 13px;
  }
  
  .header__main-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  
  .header__title {
    margin-block-start: 1px;
    max-inline-size: 364px;
  }

  .content {
    margin-block: 60px;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    gap: 80px;
  }

  .content__section:nth-of-type(2n + 1) {
    flex-direction: row;
  }
  
  .content__section-title {
    min-inline-size: 236px;
    max-inline-size: 236px;
  }
  
  .content__section_gallery {
    gap: 20px;
  }

  .content__section_gallery-images {
    max-inline-size: 100%;
    display: grid;
    grid-template-columns: repeat(minmax(229px, 315px), 1fr);
    grid-template-areas:
      'gallery_item_1 gallery_item_1 gallery_item_2'
      'gallery_item_3 gallery_item_4 gallery_item_2'
      'gallery_item_3 gallery_item_5 gallery_item_5';
    gap: 21px;
  }

  .gallery_item_first {
    grid-area: gallery_item_1;
    max-block-size: 192px;
  }

  .gallery_item_second {
    grid-area: gallery_item_2;
    max-block-size: 441px;
  }

  .gallery_item_third {
    grid-area: gallery_item_3;
    max-block-size: 568px;
  }

  .gallery_item_fourth {
    grid-area: gallery_item_4;
    max-block-size: 230px;
  }

  .gallery_item_fifth {
    grid-area: gallery_item_5;
    max-block-size: 318px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width > 650px) and (height <= 650px) {

  .header {
    gap: 5%;
  }
  
  .header__theme-menu {
    margin-block-start: 5%;
    margin-block-end: 0;
  }

  .header__main-title {
    margin-block-end: 1.5%;
    font-size: clamp(3.75rem, -9.5833rem + 66.6667vw, 5rem);
  }
}

@media (width > 650px) and (650px < height <= 900px) {

  .header {
    gap: 40px;
  }
}


@media (width >= 1024px) {

  .header {
    gap: 125px;
  }

  .decorative-text {
    inset-inline-end: 2.95%;
    inset-block-start: 2.55%;
  }
  
  .decorative-text::after {
    margin-block-end: 2.5px;
  }

  .decorated-zone::before {
    inset-inline-end: 2%;
    inset-block-start: 2.5%;
  }
  
  .decorated-zone::after {
    inset-inline-start: 1.85%;
    inset-block-end: 2.6%;
  }

  .header__theme-menu {
    margin-block-start: 1px;
    margin-block-end: 16.5%;
    margin-inline: 397px;
    min-inline-size: 230px;
  }

  .header__theme-menu-list {
    grid-template-columns: repeat(3, 70px);
    grid-template-rows: 26px;
    column-gap: 10px;
    justify-content: center;
  }

  .header__theme-menu-item {
    max-inline-size: 68px;
    max-block-size: 25px;
  }

  .header__title {
    margin-block-start: 4px;
    max-inline-size: 491px;
  }

  .content {
    margin-block-end: 61px;
  }

  .content__section-title {
    min-inline-size: 315px;
    max-inline-size: 315px;
  }

  .content__section:nth-of-type(2n) .content__section-list {
    display: grid;
    grid-template-columns: repeat(3, 315px);
    column-gap: 20px;
  }

  .content__section_gallery-images {
    max-inline-size: 100%;
    display: grid;
    grid-template-columns: repeat(minmax(229px, 315px), 1fr);
    grid-template-areas:
      'gallery_item_1 gallery_item_1 gallery_item_2'
      'gallery_item_3 gallery_item_4 gallery_item_2'
      'gallery_item_3 gallery_item_5 gallery_item_5';
    gap: 22px;
  }

  .gallery_item_first {
    grid-area: gallery_item_1;
    max-block-size: 260px;
  }

  .gallery_item_second {
    grid-area: gallery_item_2;
    max-block-size: 595px;
  }

  .gallery_item_third {
    grid-area: gallery_item_3;
    max-block-size: 768px;
  }

  .gallery_item_fourth {
    grid-area: gallery_item_4;
    max-block-size: 315px;
  }

  .gallery_item_fifth {
    grid-area: gallery_item_5;
    max-block-size: 428px;
  }
}

@media (width >= 1024px) and (height <= 700px) {

  .header {
    gap: 15px;
  }

  .header__theme-menu {
    margin-block-end: 5%;
  }

  .header__main-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}