:root {
  --font: 'IBM Plex mono';
  --font-color: #f1b2ce;
  --font-color-heading: #db00ff;
  --accent-color: #ff0070;
  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
}
